<!DOCTYPE html><html ng-app="app" lang="en-US" style="" class="js no-flexbox flexboxlegacy canvas canvastext no-webgl touch no-geolocation postmessage websqldatabase no-indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent no-video no-audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths no-csscalc ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
				
		<meta name="fragment" content="!">
		<base href="/">

		<meta name="google-site-verification" content="yzn4c_kAr3vt400rxUqiRVLo5WLdzoRDMOZ-13SAOUI">
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=0">
		<title ng-bind="$root.titleTag" class="ng-binding">Blog | Tocquigny</title>
		
		<link rel="shortcut icon" type="image/ico" href="images/favicon.ico">

		<link rel="stylesheet" href="/styles/main.css">
		

		<!--[if lte IE 9]>
	  <script src="/scripts/vendor/xdomain.min.js" slave="http://api.tocquigny.com/proxy.html" ></script>
	  <![endif]-->


		<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script src="/scripts/vendor/modernizr.js"></script>
				
	<script type="text/javascript" src="http://wd-edge.sharethis.com/button/getAllAppDefault.esi?cb=stLight.allDefault&amp;app=all&amp;publisher=ur.00000000-0000-0000-0000-000000000000&amp;domain=tocquigny.com"></script><script type="text/javascript" src="http://wd-edge.sharethis.com/button/checkOAuth.esi"></script><link rel="stylesheet" type="text/css" href="http://w.sharethis.com/button/css/buttons.885d3ead9bb996dd5155bfd0ad16570a.css"></head>
	
	<body ng-controller="AppCtrl" ng-class="{'navOpen' : $root.navOpen}" style="" class="ng-scope" onclick="if(stWidget.buttonClicked==false){stWidget.stopClosing=false;stWidget.openDuration=0;stWidget.stClose(100);}">
		
		<!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

		<div id="perspective" class="perspective">
			<div class="site-wrap">
				
							<header class="site ng-scope" ng-controller="MainNav" ng-class="{'open' : $root.navOpen}">
								
								<a href="/" ng-click="select($event, {url : '/'})">
								<div id="toc-branding">										
										<h1>Tocquigny</h1>
										<!-- <div id="svg-logo" svg-logo></div> -->
										<svg xmlns="http://www.w3.org/2000/svg" width="260" height="60" viewBox="0 -15 260 60"><g id="toc" style="opacity:0" fill="#fff"><path d="M7.3 8.8h-7.3v-8.3h22.8v8.2h-7.1v22.8h-8.4v-22.7zM23.3 16.1c0-8.8 6.9-15.9 15.9-15.9 8.8-.1 15.8 7.1 15.8 15.9s-6.9 15.9-15.8 15.9c-9 0-15.9-7.1-15.9-15.9zm22.7 0c0-3.9-2.8-7.2-6.8-7.2s-6.8 3.3-6.8 7.2c0 3.9 2.6 7.2 6.8 7.2 4.1 0 6.8-3.3 6.8-7.2zM57.1 16.1c0-8.8 6.5-15.9 15.9-15.9 6.2 0 11.2 3.1 14 7.6l-7.8 4.9c-1.1-2.3-3.3-3.8-6.2-3.8-4 0-6.7 3.3-6.7 7.2 0 3.9 2.5 7.2 6.7 7.2 3.1 0 5.3-1.8 6.3-4.3l8.2 4.4c-2.5 5-7.5 8.7-14.5 8.7-9.6-.1-15.9-7.2-15.9-16z"></path></g>
											<g id="letter-q" transform="matrix(1.75, 0, 0, 1.75, -150, -11)"><path fill="#fff" d="M116.9 26.1c2.2-2.7 3.5-6.2 3.5-10.1 0-8.8-7.1-16-16-16-9 0-15.9 7.2-15.9 16 0 8.9 7 16 15.9 16 1.7 0 3.3-.3 4.8-.8l-5.7-7.8c-1.6-.2-2.9-.8-4-1.8-1.5-1.4-2.5-3.4-2.5-5.6 0-2 .8-3.9 2.1-5.2 1.3-1.4 3.1-2.2 5.2-2.2h1.1c3.6.5 6.3 3.6 6.3 7.3 0 3.8-2.7 7-6.5 7.4l6.1 8.2h9.6l-4-5.4z"></path></g><g id="uigny" style="opacity:0" fill="#fff"><path d="M123.9 20v-19.5h8.9v19.5c0 2.7 1 4 3.1 4 2 0 3.1-1.3 3.1-4v-19.5h8.9v19.5c0 7.5-4.4 12-12 12-7.7 0-12-4.5-12-12zM153 .5h9.1v31h-9.1v-31zM166.2 16.1c0-9.1 6.6-15.9 16.1-15.9 6.6 0 11.4 3.2 14.1 7.5l-7.9 4.1c-1-2-3.3-3.3-6.2-3.3-3.9 0-7.2 3-7.2 7.6 0 4.9 2.9 7.6 7.3 7.6 2.6 0 4.5-1.1 5.4-3.2h-7.4v-8.2h17.2v4.7c0 8.1-6.2 15-15 15-10.5 0-16.4-7.3-16.4-15.9zM201.9.5h9.1l9.2 14.5v-14.5h8.8v31h-8.4l-9.9-15.5v15.6h-8.8v-31.1zM241.7 17.3l-9.5-16.8h9.5l4.4 8 4.4-8h9.4l-9.4 16.7v14.4h-8.9l.1-14.3z"></path></g></svg>
								</div>
								</a>
							
								<nav>
										<ul ng-mouseenter="$root.navOpen = true" ng-mouseleave="$root.navOpen = false" ng-click="$root.navOpen = false">
										
											<!-- ngRepeat: item in items --><li ng-repeat="item in items" ng-click="select($event, item)" class="about" ng-class="{active: item == selected}">
											    <!-- ngInclude: '/images/' + item.icon --><div class="svg-icon ng-scope" ng-include="'/images/' + item.icon "><svg xmlns="http://www.w3.org/2000/svg" width="55" height="80"><g class="correct"><g id="fire"><path fill="#fff" d="M19.487 55.812c-.002 0 4.092.521 9.578-.211 4.498-.603 6.293-3.36 7.057-4.375l.137-.207.118-.138.013-.053c2.112-2.787 2.854-6.097 2.686-9.196-.305-5.479 3.896-8.505 3.896-8.505-4.57-.115-6.729 3.472-7.402 4.9l-.258.417-.018-.726c-.42-4.937 3.027-9.2 3.027-9.2-3.038-.383-6.303 2.474-7.043 3.164-.188-.029-.278-.144-.346-.487-1.682-6.104 1.539-11.758 1.539-11.758-1.427.088-2.68.585-3.732 1.231 0-3.292-.715-7.619-3.72-11.343 0 0 1.073 4.685-2.049 7.228 0 0-5.756 5.396-6.243 8.959 0 0-.489-3.866.487-5.091 0 0-3.514 3.261-2.831 11.201 0 0-1.755-1.321-1.755-4.275 0 0-1.269 4.785 1.073 10.485 0 0 1.074 2.954-1.268.304 0 0-.78-.608-1.366-4.072 0 0-3.021 8.194 1.269 16.597.365.716.917 1.466 1.615 2.186-.063-.516-.079-.824-.079-.824.396.848.89 1.498 1.415 2.007.808.61 1.741 1.151 2.772 1.571.83.223 1.425.211 1.425.211m-.577-4.735l-.007-.005"></path></g></g><path id="innerFlame" style="fill:black;" d="M32.042 55.208c1.981-1.121 1.81-7.222 1.81-7.222-.496 1.979-1.98 2.847-1.98 2.847 1.404-3.365.328-6.035.328-6.035-.246 2.414-1.897 3.363-1.897 3.363.744-5.341-.991-8.445-.991-8.445.084 2.326-.906 4.738-.906 4.738.246-5.6-2.809-10.252-2.809-10.252 1.899 5.859 0 8.271 0 8.271l-.989-1.985c.414 2.286.223 4.061-.579 5.001-1.868 2.192-2.395 4.997-2.395 4.997-1.073-4.221-3.428-5.387-3.428-5.387 2.642 5.428.825 7.412.825 7.412s-.505 1.047-1.779 1.035c-.849-.062-1.482-.438-1.958-1.333-.207-.385-.224-2.116-.927-2.722 0 0-.045 1.021-.062 1.625-.022.831-.494.992-.433 1.072 1.177 2.195 2.833 4.056 7.38 4.021 5.79.217 10.016-.409 10.79-1.001z"></path><path id="stick2" fill="#fff" d="M42.893 59.805c.463 1.733-.615 3.574-2.395 4.092l-26.315 7.643c-1.78.516-3.614-.479-4.076-2.213-.463-1.732.615-3.574 2.394-4.09l26.315-7.645c1.782-.514 3.614.478 4.077 2.213z"></path><path id="stick1" fill="#fff" d="M10.108 59.805c-.447 1.676.553 3.44 2.227 4.023l11.659-3.385-9.811-2.852c-1.777-.513-3.613.479-4.075 2.214zm30.559 5.498l-11.661 3.387 9.812 2.852c1.779.518 3.613-.479 4.076-2.213.448-1.681-.553-3.442-2.227-4.026z"></path></svg></div>
											    <span class="ng-binding">about</span>
											</li><!-- end ngRepeat: item in items --><li ng-repeat="item in items" ng-click="select($event, item)" class="work" ng-class="{active: item == selected}">
											    <!-- ngInclude: '/images/' + item.icon --><div class="svg-icon ng-scope" ng-include="'/images/' + item.icon "><svg xmlns="http://www.w3.org/2000/svg" width="55" height="81"><g class="rocket-body"><path d="M47.141 35.329l3.855-9.329-9.934.242 6.079 9.087zM38.418 26.306c-1.008.029-2.081.234-2.41.462l-.604.419 8.803 13.157.604-.419c.33-.228.908-1.17 1.305-2.115l-7.698-11.504zM38.255 39.048l-7.014-6.137-2.343 1.626 7.013 6.137 2.344-1.626zM33.568 42.301l-7.014-6.136-2.343 1.627 7.014 6.138 2.343-1.629zM28.881 45.555l-7.014-6.137-2.344 1.626 7.014 6.138 2.344-1.627zM24.193 48.809l-7.015-6.137-1.692 1.176 5.028 7.514 3.679-2.553zM42.938 35.797l-6.104-6.767-3.253 2.258 7.014 6.137 2.343-1.628z"></path></g><path class="rocket-wick" d="M17.073 45.645l-3.484 2.418c-.221.154-.278.459-.128.685.15.224.451.282.672.128l3.483-2.418-.543-.813z"></path><path class="rocket-stick" d="M1.454 66.998l41.458-28.588-1.186-1.771-41.726 28.673 1.454 1.686z"></path><g class="small-dots"><path d="M12.499 51.132c-.252.175-.596.11-.768-.146-.17-.256-.105-.606.147-.781.252-.174.596-.11.768.146.171.256.105.607-.147.781zM5.653 58.965c-.252.176-.596.11-.768-.146-.17-.256-.105-.605.147-.78.252-.174.596-.11.768.146.171.254.105.606-.147.78zM8.566 52.964c-.252.175-.596.11-.768-.146-.17-.256-.105-.606.147-.781.252-.174.596-.11.768.146.171.256.105.606-.147.781zM6.205 50.693c-.252.176-.596.111-.768-.146-.17-.256-.105-.606.147-.78.252-.175.596-.11.768.146.171.256.105.607-.147.78zM12.084 48.803c-.303.211-.716.133-.921-.176-.206-.307-.127-.727.176-.938.303-.209.715-.131.921.176.206.309.127.728-.176.938zM2.601 52.375c-.303.211-.716.132-.921-.176-.206-.307-.127-.727.176-.938.303-.21.715-.131.921.176.205.308.126.728-.176.938z"></path></g><g class="medium-dots"><path d="M11.495 53.886c-.449.312-1.061.196-1.365-.26-.305-.455-.188-1.077.261-1.39.449-.312 1.061-.194 1.365.261.306.456.188 1.078-.261 1.389zM5.895 53.325c-.449.312-1.061.196-1.365-.261-.305-.455-.188-1.076.261-1.389.449-.312 1.061-.195 1.365.26.305.458.188 1.079-.261 1.39z"></path></g><g class="large-dots"><path d="M7.562 50.604c-.505-.388-.605-1.119-.222-1.636.383-.516 1.104-.62 1.609-.233.505.389.604 1.121.222 1.637-.382.515-1.102.62-1.609.232zM2.683 55.762c-.505-.388-.605-1.119-.222-1.636.383-.517 1.104-.621 1.609-.233.505.389.604 1.121.222 1.637s-1.103.618-1.609.232zM6.414 56.93c-.505-.388-.605-1.119-.222-1.636.383-.517 1.104-.621 1.609-.233.505.389.604 1.121.222 1.637s-1.103.62-1.609.232z"></path></g></svg></div>
											    <span class="ng-binding">work</span>
											</li><!-- end ngRepeat: item in items --><li ng-repeat="item in items" ng-click="select($event, item)" class="news" ng-class="{active: item == selected}">
											    <!-- ngInclude: '/images/' + item.icon --><div class="svg-icon ng-scope" ng-include="'/images/' + item.icon "><svg xmlns="http://www.w3.org/2000/svg" width="55" height="80"><path d="M11.008 52.582l1.755-.464c.796 1.936.579 3.446-.384 3.818l-1.371-3.354zm-6.612 1.752l5.962-1.58 3.173 7.807c.243.601-.07 1.225-.697 1.391l-2.542.673c-1.255.332-2.679-.376-3.167-1.577l-2.729-6.714zm6.601-12.996l-9.122 2.416c-1.344.355-2.148 1.732-1.789 3.062l1.369 5.047c.36 1.327 1.754 2.122 3.098 1.769l9.121-2.417-2.677-9.877zm21.709-4.721l1.993-.527c.658-.174 1.342.215 1.518.865l1.516 5.592c.178.652-.217 1.327-.875 1.5l-1.993.527-2.159-7.957zm-5.715-10.028l-14.7 14.246.408 1.502 14.209-11.311 1.008 3.719-14.953 8.575 2.085 7.69 19.938 5.073c.896.227 1.432-1.155 1.191-2.042l-7.123-26.275c-.24-.883-1.403-1.816-2.063-1.177z"></path><path id="wave1" d="M40.123 26.686l-1.516 3.533c2.221 1.876 4.008 4.638 4.904 7.943.758 2.792.768 5.563.164 7.997l3.129 2.333c.97-3.361 1.031-7.26-.035-11.193-1.204-4.445-3.632-8.141-6.646-10.613z"></path><path id="wave2" d="M53.76 35.449c-1.965-7.239-5.974-13.231-10.928-17.157l-1.514 3.53c4.162 3.335 7.529 8.389 9.183 14.491 1.516 5.59 1.344 11.133-.171 15.824l3.105 2.315c1.896-5.604 2.149-12.274.325-19.003z"></path></svg></div>
											    <span class="ng-binding">news</span>
											</li><!-- end ngRepeat: item in items --><li ng-repeat="item in items" ng-click="select($event, item)" class="contact" ng-class="{active: item == selected}">
											    <!-- ngInclude: '/images/' + item.icon --><div class="svg-icon ng-scope" ng-include="'/images/' + item.icon "><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43 28" width="55" height="81"><path d="M10.966 19.133l6.07 3.857-5.626 5.008-2.859-10.279 2.415 1.414zm32.033-19.133l-33.245 16.989 12.664 7.561 20.581-24.55zm-34.966 15.925l34.966-15.925-42.999 11.845 8.033 4.08z"></path></svg></div>
											    <span class="ng-binding">contact</span>
											</li><!-- end ngRepeat: item in items -->					
										</ul>
								</nav>

							</header>	
							
							<div id="page-container" css-calc-width="" style="width: 284px; ">
								<div toc-newsletter=""></div>

								<div class="page-bg" page-bg="" style="width: 100%; "><div class="-background" style="opacity: 1; "></div></div>			

								<!-- ngView:  --><div ng-view="" class="page-animation ng-scope"><div id="articles-list-page" class="page article ng-scope single-page-animation" single-page="" style="opacity: 1; ">

	<div class="flexslider">
		<img ng-show="page.hero_image.length &gt; 0" ng-src="http://api.tocquigny.com/wp-content/uploads/2014/02/blog_hero.jpg" alt="" src="http://api.tocquigny.com/wp-content/uploads/2014/02/blog_hero.jpg" class="">
	</div>

	<div class="page-header">
		<div>
			<!-- ngInclude:  --><div ng-include="" src="'/templates/partials/subnav.html'" class="ng-scope"><div class="subNav ng-scope" ng-controller="SubNavCtrl">

	<a ng-hide="currentIndex === max-1" ng-href="/news/newsroom" class="next" href="/news/newsroom">
		<span>
			<img ng-src="http://api.tocquigny.com/wp-content/uploads/2014/02/DS.NEWS_NEWS_NEW_PREVIEW.jpg" src="http://api.tocquigny.com/wp-content/uploads/2014/02/DS.NEWS_NEWS_NEW_PREVIEW.jpg">
			<div ng-bind-html="pages[currentIndex+1].title" class="ng-binding">newsroom</div>
		</span>
	</a>
	
	<!-- <a ng-click="back()" class="panel-icon back">{{$parent.parentUrl.replace('/', '')}}</a> -->
	
	<a ng-hide="currentIndex === 0" ng-href="" class="prev ng-hide">
		<span>
			<img ng-src="">
			<div ng-bind-html="pages[currentIndex-1].title" class="ng-binding"></div>
		</span>
	</a>

</div></div>
			<!-- ngInclude:  --><div ng-include="" src="'/templates/partials/breadcrumb.html'" class="ng-scope"><ul class="breadcrumb ng-scope">
      <!-- ngRepeat: breadcrumb in breadcrumbs.getAll() --><li ng-repeat="breadcrumb in breadcrumbs.getAll()" class="ng-scope">          
          <ng-switch on="$last">
              <!-- ngSwitchWhen: true -->
              <!-- ngSwitchDefault:  --><span ng-switch-default="" class="ng-scope"><a href="/" class="ng-binding">home</a><span class="divider"> /</span></span>
          </ng-switch>
      </li><!-- end ngRepeat: breadcrumb in breadcrumbs.getAll() --><li ng-repeat="breadcrumb in breadcrumbs.getAll()" class="ng-scope">          
          <ng-switch on="$last">
              <!-- ngSwitchWhen: true -->
              <!-- ngSwitchDefault:  --><span ng-switch-default="" class="ng-scope"><a href="/news" class="ng-binding">news</a><span class="divider"> /</span></span>
          </ng-switch>
      </li><!-- end ngRepeat: breadcrumb in breadcrumbs.getAll() --><li ng-repeat="breadcrumb in breadcrumbs.getAll()" class="ng-scope">          
          <ng-switch on="$last">
              <!-- ngSwitchWhen: true -->
              <!-- ngSwitchDefault:  --><span ng-switch-default="" class="ng-scope"><a href="/news/blog" class="ng-binding">blog</a><span class="divider"> /</span></span>
          </ng-switch>
      </li><!-- end ngRepeat: breadcrumb in breadcrumbs.getAll() --><li ng-repeat="breadcrumb in breadcrumbs.getAll()" class="ng-scope">          
          <ng-switch on="$last">
              <!-- ngSwitchWhen: true --><span ng-switch-when="true" class="ng-binding ng-scope">strategy</span>
              <!-- ngSwitchDefault:  -->
          </ng-switch>
      </li><!-- end ngRepeat: breadcrumb in breadcrumbs.getAll() -->
  </ul>  </div>
			<h1><a ng-href="/news/blog" class="ng-binding" href="/news/blog">blog</a></h1>
		</div>
	</div>

	<div class="content">
	
				<div class="article-container">
					
					<!-- ngIf: posts.length === 0 -->
					
					<div class="paging clearfix">
							<a class="cta-button cta-left cta-gray" ng-hide="pagination.currentPage &gt;= pagination.totalPages" ng-click="getOlder()">Older Posts<div class="btn-arrow"></div></a>
							<a class="cta-button cta-gray ng-hide" ng-hide="pagination.currentPage == 1" ng-click="getNewer()">Newer Posts<div class="btn-arrow"></div></a>
			  	</div>

					<!-- ngRepeat: post in posts --><article class="pgrouped-post ng-scope" ng-repeat="post in posts">
						
						<header class="clearfix">
							<h3 class="pgrouped-post-title"><a ng-href="/news/blog/bitcoin-gains-currency-among-nonprofit-organizations" ng-bind-html="post.title" class="ng-binding" href="/news/blog/bitcoin-gains-currency-among-nonprofit-organizations">Bitcoin Gains Currency among Nonprofit Organizations</a></h3>							
							<span class="pgrouped-post-day ng-binding">07/21/2014</span>
							<span class="pgrouped-post-day author ng-binding">Tocquigny Staff</span>
						</header>

						<p ng-bind-html="post.excerpt" class="ng-binding"><p>Digital currency Bitcoin has shown considerable promise to help nonprofit organizations become more efficient as well as add more credibility, transparency and a personal connection to the donation process.</p>
</p>
						
						<!-- ngIf: category_slug !== 'white-papers' --><a ng-if="category_slug !== 'white-papers'" class="read-more ng-scope" ng-href="/news/blog/bitcoin-gains-currency-among-nonprofit-organizations" href="/news/blog/bitcoin-gains-currency-among-nonprofit-organizations">Read More</a><!-- end ngIf: category_slug !== 'white-papers' -->									
						<!-- ngIf: category_slug === 'white-papers' -->									
					</article><!-- end ngRepeat: post in posts --><article class="pgrouped-post ng-scope" ng-repeat="post in posts">
						
						<header class="clearfix">
							<h3 class="pgrouped-post-title"><a ng-href="/news/blog/benchmarking-yourself-to-mediocrity" ng-bind-html="post.title" class="ng-binding" href="/news/blog/benchmarking-yourself-to-mediocrity">Benchmarking Your Company to Your Competitors Is Benchmarking Yourself to Mediocrity</a></h3>							
							<span class="pgrouped-post-day ng-binding">07/11/2014</span>
							<span class="pgrouped-post-day author ng-binding">Yvonne Tocquigny</span>
						</header>

						<p ng-bind-html="post.excerpt" class="ng-binding"><p>CEOs and other executives often fail to see new threats on the horizon that may crush them in just a few years. That’s because they never saw these companies at all. They aren’t on the radar…</p>
</p>
						
						<!-- ngIf: category_slug !== 'white-papers' --><a ng-if="category_slug !== 'white-papers'" class="read-more ng-scope" ng-href="/news/blog/benchmarking-yourself-to-mediocrity" href="/news/blog/benchmarking-yourself-to-mediocrity">Read More</a><!-- end ngIf: category_slug !== 'white-papers' -->									
						<!-- ngIf: category_slug === 'white-papers' -->									
					</article><!-- end ngRepeat: post in posts --><article class="pgrouped-post ng-scope" ng-repeat="post in posts">
						
						<header class="clearfix">
							<h3 class="pgrouped-post-title"><a ng-href="/news/blog/10-smb-marketing-tips-from-icon14" ng-bind-html="post.title" class="ng-binding" href="/news/blog/10-smb-marketing-tips-from-icon14">10 SMB Marketing Tips from #ICON14</a></h3>							
							<span class="pgrouped-post-day ng-binding">06/03/2014</span>
							<span class="pgrouped-post-day author ng-binding">Tocquigny Staff</span>
						</header>

						<p ng-bind-html="post.excerpt" class="ng-binding"><p>As a digitally-minded agency, Tocquigny frequently helps clients select, deploy and optimize marketing automation platforms to drive, nurture and convert leads.</p>
</p>
						
						<!-- ngIf: category_slug !== 'white-papers' --><a ng-if="category_slug !== 'white-papers'" class="read-more ng-scope" ng-href="/news/blog/10-smb-marketing-tips-from-icon14" href="/news/blog/10-smb-marketing-tips-from-icon14">Read More</a><!-- end ngIf: category_slug !== 'white-papers' -->									
						<!-- ngIf: category_slug === 'white-papers' -->									
					</article><!-- end ngRepeat: post in posts --><article class="pgrouped-post ng-scope" ng-repeat="post in posts">
						
						<header class="clearfix">
							<h3 class="pgrouped-post-title"><a ng-href="/news/blog/from-mad-men-to-stat-men" ng-bind-html="post.title" class="ng-binding" href="/news/blog/from-mad-men-to-stat-men">From Mad Men to Stat Men</a></h3>							
							<span class="pgrouped-post-day ng-binding">04/21/2014</span>
							<span class="pgrouped-post-day author ng-binding">Mario van Gastel</span>
						</header>

						<p ng-bind-html="post.excerpt" class="ng-binding"><p>On March 27, the department of Advertising and Public Relations at the University of Texas at Austin hosted its annual conference on the state of the industry. </p>
</p>
						
						<!-- ngIf: category_slug !== 'white-papers' --><a ng-if="category_slug !== 'white-papers'" class="read-more ng-scope" ng-href="/news/blog/from-mad-men-to-stat-men" href="/news/blog/from-mad-men-to-stat-men">Read More</a><!-- end ngIf: category_slug !== 'white-papers' -->									
						<!-- ngIf: category_slug === 'white-papers' -->									
					</article><!-- end ngRepeat: post in posts --><article class="pgrouped-post ng-scope" ng-repeat="post in posts">
						
						<header class="clearfix">
							<h3 class="pgrouped-post-title"><a ng-href="/news/blog/10-guidelines-for-creating-strong-brand-architecture-blog" ng-bind-html="post.title" class="ng-binding" href="/news/blog/10-guidelines-for-creating-strong-brand-architecture-blog">10 Guidelines for Creating Strong Brand Architecture</a></h3>							
							<span class="pgrouped-post-day ng-binding">03/28/2014</span>
							<span class="pgrouped-post-day author ng-binding">Tocquigny Staff</span>
						</header>

						<p ng-bind-html="post.excerpt" class="ng-binding"><p>Who controls your brand? Brace yourself; the answer might come as a shock: Brands are no longer under their owners’ control. The Internet slowly tipped the balance of ownership toward the consumer, then social media put an elephant on the scale. No more trademark security and complete creative control®. Brands are now primarily made up […]</p>
</p>
						
						<!-- ngIf: category_slug !== 'white-papers' --><a ng-if="category_slug !== 'white-papers'" class="read-more ng-scope" ng-href="/news/blog/10-guidelines-for-creating-strong-brand-architecture-blog" href="/news/blog/10-guidelines-for-creating-strong-brand-architecture-blog">Read More</a><!-- end ngIf: category_slug !== 'white-papers' -->									
						<!-- ngIf: category_slug === 'white-papers' -->									
					</article><!-- end ngRepeat: post in posts --><article class="pgrouped-post ng-scope" ng-repeat="post in posts">
						
						<header class="clearfix">
							<h3 class="pgrouped-post-title"><a ng-href="/news/blog/how-marketers-use-psychology-of-choice-to-their" ng-bind-html="post.title" class="ng-binding" href="/news/blog/how-marketers-use-psychology-of-choice-to-their">How Marketers Use Psychology Of Choice To Their Advantage</a></h3>							
							<span class="pgrouped-post-day ng-binding">01/26/2013</span>
							<span class="pgrouped-post-day author ng-binding">Tocquigny Staff</span>
						</header>

						<p ng-bind-html="post.excerpt" class="ng-binding"><p>Did you know there is a whole psychology behind the choices that we make? Savvy marketers are able to use this to their advantage. This is fascinating!</p>
</p>
						
						<!-- ngIf: category_slug !== 'white-papers' --><a ng-if="category_slug !== 'white-papers'" class="read-more ng-scope" ng-href="/news/blog/how-marketers-use-psychology-of-choice-to-their" href="/news/blog/how-marketers-use-psychology-of-choice-to-their">Read More</a><!-- end ngIf: category_slug !== 'white-papers' -->									
						<!-- ngIf: category_slug === 'white-papers' -->									
					</article><!-- end ngRepeat: post in posts --><article class="pgrouped-post ng-scope" ng-repeat="post in posts">
						
						<header class="clearfix">
							<h3 class="pgrouped-post-title"><a ng-href="/news/blog/12-reasons-why-blogging-is-the-1-b2b-marketing-tactic" ng-bind-html="post.title" class="ng-binding" href="/news/blog/12-reasons-why-blogging-is-the-1-b2b-marketing-tactic">12 Reasons Why Blogging Is The #1 B2B Marketing Tactic</a></h3>							
							<span class="pgrouped-post-day ng-binding">01/24/2013</span>
							<span class="pgrouped-post-day author ng-binding">Tocquigny Staff</span>
						</header>

						<p ng-bind-html="post.excerpt" class="ng-binding"><p>B2B companies who blog are able to increase awareness, credibility, search engine rankings and leads – all while linking marketing efforts back to business goals. Couldn’t have said it better ourselves: The&nbsp;Content Marketing Institute&nbsp;(CMI) describes blogs this way: What is a ‘Blog’? Shorthand for “Weblog,” a blog offers an easy way to present brief chunks […]</p>
</p>
						
						<!-- ngIf: category_slug !== 'white-papers' --><a ng-if="category_slug !== 'white-papers'" class="read-more ng-scope" ng-href="/news/blog/12-reasons-why-blogging-is-the-1-b2b-marketing-tactic" href="/news/blog/12-reasons-why-blogging-is-the-1-b2b-marketing-tactic">Read More</a><!-- end ngIf: category_slug !== 'white-papers' -->									
						<!-- ngIf: category_slug === 'white-papers' -->									
					</article><!-- end ngRepeat: post in posts --><article class="pgrouped-post ng-scope" ng-repeat="post in posts">
						
						<header class="clearfix">
							<h3 class="pgrouped-post-title"><a ng-href="/news/blog/content-marketing-vs-traditional-advertising" ng-bind-html="post.title" class="ng-binding" href="/news/blog/content-marketing-vs-traditional-advertising">Content Marketing vs. Traditional Advertising [Infographic]</a></h3>							
							<span class="pgrouped-post-day ng-binding">01/23/2013</span>
							<span class="pgrouped-post-day author ng-binding">Tocquigny Staff</span>
						</header>

						<p ng-bind-html="post.excerpt" class="ng-binding"><p>See how content marketing competes with traditional advertising: the advantages, the different types, the different tactics are key challenges. See on marketo.com</p>
</p>
						
						<!-- ngIf: category_slug !== 'white-papers' --><a ng-if="category_slug !== 'white-papers'" class="read-more ng-scope" ng-href="/news/blog/content-marketing-vs-traditional-advertising" href="/news/blog/content-marketing-vs-traditional-advertising">Read More</a><!-- end ngIf: category_slug !== 'white-papers' -->									
						<!-- ngIf: category_slug === 'white-papers' -->									
					</article><!-- end ngRepeat: post in posts --><article class="pgrouped-post ng-scope" ng-repeat="post in posts">
						
						<header class="clearfix">
							<h3 class="pgrouped-post-title"><a ng-href="/news/blog/key-digital-trends-for-2013-infographic" ng-bind-html="post.title" class="ng-binding" href="/news/blog/key-digital-trends-for-2013-infographic">Key digital trends for 2013 [infographic]</a></h3>							
							<span class="pgrouped-post-day ng-binding">01/22/2013</span>
							<span class="pgrouped-post-day author ng-binding">Tocquigny Staff</span>
						</header>

						<p ng-bind-html="post.excerpt" class="ng-binding"><p>Re-blogged: &nbsp; Our latest&nbsp;Quarterly Digital Intelligence Briefing: Digital Trends for 2013, produced in association with&nbsp;Adobe, looks at what marketers see as the&nbsp;most important trends in the next 12 months. &nbsp; This infographic sums up some of the key findings from the survey of&nbsp;around 700 business respondents… See on econsultancy.com</p>
</p>
						
						<!-- ngIf: category_slug !== 'white-papers' --><a ng-if="category_slug !== 'white-papers'" class="read-more ng-scope" ng-href="/news/blog/key-digital-trends-for-2013-infographic" href="/news/blog/key-digital-trends-for-2013-infographic">Read More</a><!-- end ngIf: category_slug !== 'white-papers' -->									
						<!-- ngIf: category_slug === 'white-papers' -->									
					</article><!-- end ngRepeat: post in posts --><article class="pgrouped-post ng-scope" ng-repeat="post in posts">
						
						<header class="clearfix">
							<h3 class="pgrouped-post-title"><a ng-href="/news/blog/frequently-asked-questions-about-b2b-marketing" ng-bind-html="post.title" class="ng-binding" href="/news/blog/frequently-asked-questions-about-b2b-marketing">Frequently Asked Questions About B2B Marketing: Essential Basics</a></h3>							
							<span class="pgrouped-post-day ng-binding">01/22/2013</span>
							<span class="pgrouped-post-day author ng-binding">Tocquigny Staff</span>
						</header>

						<p ng-bind-html="post.excerpt" class="ng-binding"><p>We stumbled upon this today and think it’s worth a read: I opine regularly on the importance of basic (yet essential) marketing best practices and disciplines to achieve sales goals. As it relates to business-to-business (B2B) marketing, below are questions and conversation topics that often come up; along with my typical response and/or opinion. &nbsp; […]</p>
</p>
						
						<!-- ngIf: category_slug !== 'white-papers' --><a ng-if="category_slug !== 'white-papers'" class="read-more ng-scope" ng-href="/news/blog/frequently-asked-questions-about-b2b-marketing" href="/news/blog/frequently-asked-questions-about-b2b-marketing">Read More</a><!-- end ngIf: category_slug !== 'white-papers' -->									
						<!-- ngIf: category_slug === 'white-papers' -->									
					</article><!-- end ngRepeat: post in posts -->
				
			  	<div class="paging clearfix">							
							<a class="cta-button cta-left cta-gray" ng-hide="pagination.currentPage &gt;= pagination.totalPages" ng-click="getOlder()">Older Posts<div class="btn-arrow"></div></a>
							<a class="cta-button cta-gray ng-hide" ng-hide="pagination.currentPage == 1" ng-click="getNewer()">Newer Posts<div class="btn-arrow"></div></a>
			  	</div>	
				
				</div>

				<div class="article-sidebar">
					<div ng-show="inSubCategory" class="">
						<h3 class="article-years ng-binding">blog</h3>
						<a style="text-transform:capitalize;" href="/news/blog" class="ng-binding">See All blog Posts</a>
					</div>

					
					<div ng-show="subCategories.length &gt; 0" class="">
						<h3 class="article-years">Categories</h3>
						<ul class="category-list">
							<!-- ngRepeat: cat in subCategories --><li ng-repeat="cat in subCategories" ng-class="{current : currentSubCategory === cat.slug}" class="ng-scope"><a href="/news/blog?category=creative" class="ng-binding">Creative</a></li><!-- end ngRepeat: cat in subCategories --><li ng-repeat="cat in subCategories" ng-class="{current : currentSubCategory === cat.slug}" class="ng-scope"><a href="/news/blog?category=culture" class="ng-binding">Culture</a></li><!-- end ngRepeat: cat in subCategories --><li ng-repeat="cat in subCategories" ng-class="{current : currentSubCategory === cat.slug}" class="ng-scope"><a href="/news/blog?category=design" class="ng-binding">Design</a></li><!-- end ngRepeat: cat in subCategories --><li ng-repeat="cat in subCategories" ng-class="{current : currentSubCategory === cat.slug}" class="ng-scope"><a href="/news/blog?category=mobile" class="ng-binding">Mobile</a></li><!-- end ngRepeat: cat in subCategories --><li ng-repeat="cat in subCategories" ng-class="{current : currentSubCategory === cat.slug}" class="ng-scope"><a href="/news/blog?category=social-media" class="ng-binding">Social Media</a></li><!-- end ngRepeat: cat in subCategories --><li ng-repeat="cat in subCategories" ng-class="{current : currentSubCategory === cat.slug}" class="ng-scope current"><a href="/news/blog?category=strategy" class="ng-binding">Strategy</a></li><!-- end ngRepeat: cat in subCategories --><li ng-repeat="cat in subCategories" ng-class="{current : currentSubCategory === cat.slug}" class="ng-scope"><a href="/news/blog?category=technology" class="ng-binding">Technology</a></li><!-- end ngRepeat: cat in subCategories -->
						</ul>	
					</div>

				</div>

	</div>

</div>

</div>
							</div>

			</div><!-- /container -->
			
			<footer class="site">
				<div id="footerLogo"></div>
				<span>/</span>
				<a target="_blank" title="Facebook" href="http://www.facebook.com/tocquigny" class="facebook-icon">Facebook</a>
				<a target="_blank" title="Twitter" href="http://www.twitter.com/tocquigny" class="twitter-icon">Twitter</a>
				<a target="_blank" title="Linkedin" href="http://www.linkedin.com/company/13242" class="linkedin-icon">Linkedin</a>
				<a target="_blank" title="Instagram" href="http://instagram.com/tocquignyaustin" class="instagram-icon">Instagram</a>
			</footer>
			
			<div id="video-player-container" site-video-player="">
				<div>
					<span ng-click="close()">Close</span>
					<video class="videoPlayer" controls="controls" ng-src="">
				</video></div>
			</div>


		</div><!-- /perspective -->

		
	 	<script src="/scripts/vendor/libs.js"></script>
		
		 <script src="/scripts/scripts.js"></script>
		
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js" async="true"></script>
		
		<script type="text/javascript">
			 /* GOOGLE ANALYTICS */
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-2385778-1']);
			  _gaq.push(['_setDomainName', '.tocquigny.com']);
			  _gaq.push(['_trackPageview']);
			  
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
		</script>

	
<div id="stcpDiv" style="position: absolute; top: -1999px; left: -1988px; ">ShareThis Copy and Paste</div><iframe id="stSegmentFrame" name="stSegmentFrame" src="http://seg.sharethis.com/getSegment.php?purl=http%3A%2F%2Fwww.tocquigny.com%2Fnews%2Fblog%3Fcategory%3Dstrategy&amp;jsref=&amp;rnd=1406067957516" frameborder="0" scrolling="no" width="0px" height="0px" style="display:none;"></iframe><div id="stwrapper" class="stwrapper" style="visibility: hidden; display: none; "><div class="stclose"></div><iframe allowtransparency="true" id="stLframe" class="stLframe" name="stLframe" frameborder="0" scrolling="no" width="353px" height="350px" style="top: 0px; left: 0px; " src="http://edge.sharethis.com/share4x/index.a92414725f76870a42ebbab80c488823.html"></iframe></div></body></html>